/compileAndOpenBoek.bat
/texput.log

/boek/*.pdf
/boek/*~
/boek/*.aux
/boek/*.log
/boek/fig/*.vsd
/boek/fig/*.~vsd

/clustering/*.class

/experiments/*

/vendor/*

/rules

/testpipe.rb

/truth/*.json
